#helpButton {
    -fx-background-image: url("../Images/helpButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
}

.root{
     -fx-background-image: url("../Images/background.png");
     -fx-background-color: rgb(152, 152, 152);
     -fx-background-size:  stretch;
}

.button {
    -fx-background-image:url("../Images/button.png");
    -fx-background-color: transparent ;
     -fx-background-size:  stretch;
     -fx-padding: 4 10 4 10;
     -fx-text-fill: white;
}
/*TODO make the notification button(not) to only have its own hover effect*/
.not:hover{
	-fx-effect: dropshadow( three-pass-box, rgba(82,131,255,1) ,10 ,0.5 ,0 ,1 );
}
.button:hover {
    -fx-background-image:url("../Images/buttonH.png");
     -fx-text-fill: gold;

}
.button:onclick {
    -fx-background-image:url("../Images/buttonC.png");
}
.label {
    -fx-text-fill: white;
}

#helpButton:hover {
    -fx-background-image: url("../Images/helpButtonHover.png");
} 

.check-box{
    -fx-text-fill: white;
}

.choice-box .label {
    -fx-text-fill: black;
}

.not{
    -fx-background-image:url("../Images/notification.png");
    -fx-background-color: transparent ;
    -fx-background-size:  stretch;
    -fx-text-fill: white;
}

