/*.button {
    -fx-background-image: url("../Images/home.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(152, 152, 152);
    -fx-background-position: left top;

}*/

.root {
    -fx-background-image: url("../Images/Icon_2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
    -fx-background-position: left top;
}

#helpButton {
    -fx-background-image: url("../Images/helpButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
    -fx-background-position: left top;
}
#helpButton:hover {
    -fx-background-image: url("../Images/helpButtonHover.png");
}